<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" class="example-sidenav" opened>
            <nav id="sidebar">
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <a>Danh sách nhân viên</a>
                    </div>
                    <ul class="list-unstyled components">
                       
                        <li>
                            <a (click) = "changeTab(1)">Danh sách toàn bộ nhân viên</a>
                        </li>
                 

                        <li>
                            <a (click) = "changeTab(2)">Danh sách nhân viên đã nghỉ việc</a>
                        </li>

                        <li>
                            <a (click) = "changeTab(3)">Danh sách tạm hoãn hợp đồng</a>
                        </li>
                        <li>
                            <a (click) = "changeTab(4)">Thêm mới nhân viên</a>
                        </li>
                    </ul>
                </nav>
            </nav>
  </mat-drawer>
  <mat-drawer-content style="background: floralwhite;">
   <!-- Page Content -->
     <div class="container-fluid">
                        <button type="button" mat-button (click)="drawer.toggle()">
                            <i class="fas fa-align-left"></i>
                            <span>ẨN</span>
                        </button>
                    </div>
          <listEmployee *ngIf = "tabIndex === 1"></listEmployee>
          <listEmployeeQuitted *ngIf = "tabIndex === 2"></listEmployeeQuitted>
          <addEditEmployee *ngIf = "tabIndex === 4"></addEditEmployee>
  </mat-drawer-content>
</mat-drawer-container>

        <!-- Sidebar -->