<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" class="example-sidenav" opened>
            <nav id="sidebar">
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <a>Danh sách nhân viên</a>
                    </div>
                    <ul class="list-unstyled components">
                        <!-- <li class="active">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">Home</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a href="#">Home 1</a>
                                </li>
                                <li>
                                    <a href="#">Home 2</a>
                                </li>
                                <li>
                                    <a href="#">Home 3</a>
                                </li>
                            </ul>
                        </li> -->
                        <li>
                            <a (click) = "changeTab(1)">Danh sách toàn bộ nhân viên</a>
                        </li>
                        <!-- <li>
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">Pages</a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li>
                                    <a href="#">Page 1</a>
                                </li>
                                <li>
                                    <a href="#">Page 2</a>
                                </li>
                                <li>
                                    <a href="#">Page 3</a>
                                </li>
                            </ul>
                        </li> -->

                        <li>
                            <a (click) = "changeTab(2)">Danh sách nhân viên đã nghỉ việc</a>
                        </li>

                        <li>
                            <a (click) = "changeTab(3)">Danh sách tạm hoãn hợp đồng</a>
                        </li>
                        <li>
                            <a (click) = "changeTab(4)">Thêm mới nhân viên</a>
                        </li>
                    </ul>
                </nav>
            </nav>
  </mat-drawer>
  <mat-drawer-content style="background: floralwhite;">
   <!-- Page Content -->
     <div class="container-fluid">
                        <button type="button" mat-button (click)="drawer.toggle()">
                            <i class="fas fa-align-left"></i>
                            <span>ẨN</span>
                        </button>
                    </div>
          <listEmployee *ngIf = "tabIndex === 1"></listEmployee>
          <listEmployeeQuitted *ngIf = "tabIndex === 2"></listEmployeeQuitted>
  </mat-drawer-content>
</mat-drawer-container>

        <!-- Sidebar -->