

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.wrapper {
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

.example-container {
  height: 100%;  
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}